.Chat{
    display: flex;
    justify-content: center;

}
.Chat__container{
    /* border: 1px solid black; */
    width: 330px;
    background-color: #161616;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 560px;
}
.Chat__body__power{
    display: flex;
    width: 45px;
    height: 3px;
    color: #fff;
    flex-direction: column;
    margin-right: -32px;
    padding: 3px;
    margin-top: 50px;
    font-size: 14px;
    transform: rotate(90deg);
    float: right;
    background-color: #252525;
}
.Chat__top__container{
    border-bottom: 1px solid black;
    background-color: #161616;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.Chat__top{
    display: flex;
    height: 50px; 
    align-items: center;
    width: 58%;
    float: right;
    justify-content: space-between;
}
.Chat__inline{
    width: 50px;
    background-color: rgb(61, 60, 60);
    height: 4px;
}
.Chat__camera{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 15px;
    background-color: rgb(90, 88, 88);
    margin-right: 40px;
}
.Chat__camera_part{
    width: 7px;
    height: 7px;
    border-radius: 15px;
    background-color: rgb(61, 60, 60);
}
.Chat__body{
    width: 100%;
    height: 500px;
    width: 326px;
    border: 2px solid black;
}
.Chat__bottom{
    background-color: #161616;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.Chat__avatar{
    width: 35px !important;
    height: 35px !important;
}
.Chat__avatar_2{
    margin: 20px 20px;
    width: 45px !important;
    height: 45px !important;
}
.Chat__body__groupchat{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.Chat__body__groupchat:hover{
    background: rgb(161, 159, 159);
   
    color: #fff;
}
.Chat__body__groupchat-title{
    height: 72px;
}
.Chat__body__groupchat-title p{
    height: 10px;
}
.Chat__body__groupchat p{
    font-size: 14px;
}
.Chat__body__top{
    display: flex;
    position: fixed;
    align-items: center;
    background: rgb(39, 39, 39);
    width: 304px;
    padding-left: 20px;
    margin-top: -5px;
}
.Chat__body__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}
.Chat__body__messages{
    overflow-x: hidden;
    height: 400px;
    padding-left: 15px;
    margin-top: 50px;
}
.Chat__body__bottom__cont{
    display: flex;
    align-items: flex-end;
}
.image_input{
    width: 100px;
    border: none;
    padding: 8px;
    font-weight: 500;
    margin-left: 20px;
    outline: none;
    border-radius: 25px;
}
.text_input{
    width: 100px;
    border: none;
    padding: 8px;
    font-weight: 500;
    outline: none;
    border-radius: 25px;
    margin-left: 10px;
}
.Chat__body__top p{
    color: #fff;
    padding-left: 15px;
}
.Chat__body__top-avatar{
    width: 30px !important;
    height: 30px !important;
    margin-left: 15px;
}
.Chat__bottom__name{
    display: flex;
    align-items: center;
    color: rgb(223, 222, 222);
    justify-content: space-between;
    width: 47%;
    margin-left: 38%;
}
